@media (min-width: 1281px) {
  nav {
    max-width: 7%;
    width: 7%;
    height: 45vh; }

  .profile {
    width: 30%;
    max-width: 30%;
    height: 100%;
    margin: 0 0 0 10px; }

  .wrapper-content {
    height: 90vh;
    width: 90vw;
    max-width: 90vw;
    flex-flow: row; }

  .content {
    width: 63%;
    max-width: 63%;
    height: 100%;
    overflow-y: scroll; }

  body {
    background-color: blue; }

  .content h1 {
    font-size: 2vw; }

  .parag-content {
    flex-flow: row; }

  .parag-resumen {
    width: 60%; }

  .parag-resumen p {
    font-size: 0.8vw; }

  .parag-info {
    width: 40%; }

  .info-highlight {
    font-size: 0.9vw; }

  .parag-info li {
    font-size: 0.9vw; }

  #nav-bar-1 {
    display: inherit; }

  #nav-bar-2 {
    display: none; }

  .download li {
    font-size: 0.9vw;
    min-width: 9vw; }

  .icons-profile a {
    font-size: 0.8vw; }

  .picture-content {
    left: 0;
    top: 0; }

  .menu-nav-2 {
    display: flex;
    flex-flow: row;
    width: none; }

  .experience {
    padding: 0 0 0 0; }

  .experience h2 {
    text-transform: uppercase;
    color: #15b01f; }

  .education {
    padding: 0 0 0 25px; }

  .education h2 {
    text-transform: uppercase;
    color: #15b01f; }

  .period {
    border: 1px solid #8AB98A;
    padding: 5px 0 5px 10px;
    font-size: 0.7vw;
    width: 5.5vw;
    border-radius: 6px;
    text-align: center; } }
@media (min-width: 1025px) and (max-width: 1280px) {
  nav {
    width: none;
    height: none; }

  .profile {
    width: 45vw;
    height: 100%;
    margin: 0 0 0 10px; }

  .wrapper-content {
    height: 90vh;
    flex-flow: row; }

  body {
    background-color: blue; }

  .content h1 {
    font-size: 2.5vw; }

  .parag-content {
    flex-flow: column; }

  .parag-resumen {
    width: 100%; }

  .parag-resumen p {
    font-size: 1.1vw; }

  .info-highlight {
    font-size: 1.1vw; }

  .parag-info li {
    font-size: 1.1vw; }

  #nav-bar-1 {
    display: none; }

  .download li {
    font-size: 1.1vw;
    min-width: 11vw; }

  .icons-profile a {
    font-size: 1vw; }

  .picture-content {
    left: 0;
    top: 85px; }

  .menu-nav-2 {
    display: flex;
    flex-flow: row;
    width: none; }

  .content {
    width: 55vw;
    height: 100%;
    overflow-y: scroll; }

  .experience {
    padding: 0 0 0 25px; }

  .experience h2 {
    text-transform: uppercase; }

  .education {
    padding: 0 0 0 0; }

  .education h2 {
    text-transform: uppercase; } }
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    width: none;
    height: none; }

  .profile {
    width: 45vw;
    height: 100%;
    margin: 0 0 0 10px; }

  .wrapper-content {
    height: 90vh;
    flex-flow: row; }

  body {
    background-color: blue; }

  .content h1 {
    font-size: 2.5vw; }

  .parag-content {
    flex-flow: column; }

  .parag-resumen {
    width: 100%; }

  .parag-resumen p {
    font-size: 1.1vw; }

  .info-highlight {
    font-size: 1.1vw; }

  .parag-info li {
    font-size: 1.1vw; }

  #nav-bar-1 {
    display: none; }

  .download li {
    font-size: 1.1vw;
    min-width: 11vw; }

  .icons-profile a {
    font-size: 1vw; }

  .picture-content {
    left: 0;
    top: 85px; }

  .menu-nav-2 {
    display: flex;
    flex-flow: row;
    width: none; }

  .content {
    width: 55vw;
    height: 100%;
    overflow-y: scroll; } }
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  nav {
    width: none;
    height: none; }

  .profile {
    width: 45vw;
    height: 100%;
    margin: 0 0 0 10px; }

  .wrapper-content {
    height: 90vh;
    flex-flow: row; }

  body {
    background-color: blue; }

  .content h1 {
    font-size: 2.5vw; }

  .parag-content {
    flex-flow: column; }

  .parag-resumen {
    width: 100%; }

  .parag-resumen p {
    font-size: 1.1vw; }

  .info-highlight {
    font-size: 1.1vw; }

  .parag-info li {
    font-size: 1.1vw; }

  #nav-bar-1 {
    display: none; }

  .download li {
    font-size: 1.1vw;
    min-width: 11vw; }

  .icons-profile a {
    font-size: 1vw; }

  .picture-content {
    left: 0;
    top: 85px; }

  .menu-nav-2 {
    display: flex;
    flex-flow: row;
    margin: 15px 15px 15px 0;
    width: none; }

  .content {
    width: 55vw;
    height: 100%;
    overflow-y: scroll; } }
@media (min-width: 481px) and (max-width: 767px) {
  nav {
    width: none;
    height: none; }

  .profile {
    margin: 0 0 0 10px;
    width: 97vw;
    height: 100%;
    margin: 1vh 0 0 1.5vw;
    display: block;
    padding: 0 0 0 0; }

  .wrapper-content {
    height: 100%;
    flex-flow: column; }

  body {
    background-color: blue; }

  .content h1 {
    font-size: 2.5vw; }

  .parag-content {
    flex-flow: column; }

  .parag-resumen {
    width: 100%; }

  .parag-resumen p {
    font-size: 1.1vw; }

  .info-highlight {
    font-size: 1.1vw; }

  .parag-info li {
    font-size: 1.1vw; }

  #nav-bar-1 {
    display: none; }

  .download li {
    font-size: 1.1vw;
    min-width: 11vw; }

  .icons-profile a {
    font-size: 1vw; }

  .picture-content {
    left: 0;
    top: 85px; }

  .menu-nav-2 {
    display: flex;
    flex-flow: row;
    margin: 25px 0 25px 0;
    width: 100%; }

  .content {
    width: 100vw;
    height: none;
    overflow-y: none; } }
@media (max-width: 480px) {
  nav {
    width: none;
    height: none; }

  .profile {
    margin: 0 0 0 10px;
    width: 97vw;
    height: 100%;
    margin: 1vh 0 0 1.5vw;
    display: block;
    padding: 0 0 0 0; }

  .wrapper-content {
    height: 100%;
    flex-flow: column; }

  body {
    background-color: blue; }

  .content h1 {
    font-size: 2.5vw; }

  .parag-content {
    flex-flow: column; }

  .parag-resumen {
    width: 100%; }

  .parag-resumen p {
    font-size: 1.1vw; }

  .info-highlight {
    font-size: 1.1vw; }

  .parag-info li {
    font-size: 1.1vw; }

  #nav-bar-1 {
    display: none; }

  .download li {
    font-size: 1.1vw;
    min-width: 11vw; }

  .icons-profile a {
    font-size: 1vw; }

  .picture-content {
    left: 0;
    top: 85px; }

  .menu-nav-2 {
    display: flex;
    flex-flow: row;
    margin: 25px 0 25px 0;
    width: 100%; }

  .content {
    width: 100vw;
    height: none;
    overflow-y: none; } }
nav {
  background-color: #fff;
  border-radius: 10px;
  text-transform: uppercase; }

.left-bar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

.left-bar-2 {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center; }

.menu-nav {
  padding: 0; }

.menu-nav-2 {
  padding: 0;
  margin: 15px 15px 15px 0; }

.menu-nav li {
  list-style: none;
  height: 8vh;
  width: 100%;
  border-bottom: 1px solid #e6e6e6; }

.menu-nav-2 li {
  list-style: none;
  height: 5vh;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.1vw; }

.menu-nav li:last-child {
  border-bottom: 0; }

.menu-nav-2 li:last-child {
  border-bottom: 0; }

.icons-profile {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.icons-profile-2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.icons-profile a {
  text-decoration: none;
  padding: 11px 0 0 0;
  color: #000; }

.icons-profile-2 a {
  text-decoration: none;
  padding: 11px 0 0 0;
  color: #000;
  font-size: 0.9vw;
  width: 7vw;
  text-align: center;
  margin-left: 0; }

.icons-profile a:hover {
  font-weight: bolder;
  font-size: 1vw;
  text-decoration: underline;
  color: #31840b; }

.icons-profile-2 a:hover {
  font-weight: bolder;
  font-size: 1vw;
  text-decoration: underline;
  color: #31840b; }

.profile {
  border-radius: 10px;
  position: relative; }

.picture-content {
  background-image: url(../img/profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.picture-content:before {
  content: '';
  position: absolute;
  left: -25%;
  bottom: -55%;
  width: 100%;
  height: 70%;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  background-color: #fff; }

.picture-content:after {
  content: '';
  position: absolute;
  left: 25%;
  bottom: -57%;
  width: 100%;
  height: 70%;
  transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  background-color: #fff; }

.info {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45vh;
  width: 100%;
  height: 45vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.info h1 {
  font-size: 2vw;
  padding: 0;
  margin: -230px 0 0 0; }

.info h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 20px 0 0 0;
  margin: 0;
  color: #15b01f; }

.social-media {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  margin: 0;
  padding: 15px 0 0 0; }

.social-media li {
  list-style: none;
  margin: 5px 5px; }

.download {
  position: absolute;
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  bottom: 10px;
  margin: 0;
  padding: 0 0 20px 0; }

.download li {
  list-style: none;
  height: 5vh;
  margin: 0;
  padding: 15px 0 0 0;
  border: 1px solid #ddd9d9;
  text-align: center;
  box-shadow: -3px 3px 3px #d2cfcf; }

.link-cv {
  text-decoration: none;
  color: #000;
  padding-left: 15px; }

.link-cv:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #000;
  text-decoration: underline; }

.fas, .far {
  font-size: 1.6em; }

.fab {
  font-size: 1.3rem; }

.fas:hover, .far:hover {
  font-size: 1.6em;
  color: #31840b; }

.fab:hover {
  font-size: 1.3rem;
  color: #31840b; }

.content {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 0 0 10px;
  scroll-behavior: smooth; }

.content h1 {
  font-weight: 900;
  padding-left: 15px; }

.title-content {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px 0 0 25px;
  flex-flow: row; }

.title-content i {
  font-size: 1.5vw; }

.parag-content {
  display: flex;
  justify-content: left; }

.parag-resumen {
  margin: 0;
  padding: 0; }

.parag-resumen p {
  padding: 0 25px;
  font-family: "ubuntu", sans-serif;
  font-weight: 100;
  line-height: 1.5rem;
  text-align: left; }

.parag-info {
  margin: 0;
  padding: 0 25px; }

.parag-info li {
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5rem;
  padding: 8px 0; }

.info-highlight {
  background-color: #15b01f;
  padding: 0.3vh 3vw 0.3vh 1vw;
  color: #fff;
  font-weight: 400; }

/*
 *  STYLE 15
 */
#style-15::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

#style-15::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#style-15::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(0.6, #54DE5D)); }

.project-image {
  width: 40%; }

.project-content {
  width: 60%; }

.project-wrapper {
  display: flex;
  flex-flow: row;
  width: 100%;
  max-width: 70vw;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0 0 100px 0; }

.tags-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 0;
  padding: 0; }

.tags {
  border: 1px solid #8AB98A;
  padding: 5px 30px 5px 30px;
  font-size: 0.7vw;
  border-radius: 6px;
  text-align: center;
  list-style: none;
  margin-right: 10px;
  margin-top: 15px; }

.project-content p {
  font-weight: lighter;
  line-height: 2.5vh;
  padding: 0 15px 0 0;
  font-size: 0.8vw; }

.project-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

#project-01 {
  background-image: url(../img/project-01.png); }

#project-02 {
  background-image: url(../img/project-02.png);
  background-size: 86%; }

#project-03 {
  background-image: url(../img/project-03.png);
  background-size: 86%; }

.link-demo {
  padding-top: 30px;
  width: 90%;
  height: 3vh;
  display: flex;
  flex-flow: row;
  position: relative;
  top: 100%;
  left: 15px;
  justify-content: center; }

.demo-button {
  border: 1px solid #8AB98A;
  padding: 5px 30px 5px 10px;
  font-size: 0.7vw;
  width: 5.5vw;
  border-radius: 6px;
  text-align: center;
  margin: 0 0 0 5px;
  background-color: #15b01f; }

.demo-button a {
  text-decoration: none;
  color: #fff; }

.experience {
  padding: 0 0 30px 0; }

.experience-wrapper {
  display: flex;
  flex-flow: row; }

.experience-side {
  width: 50%;
  padding: 0 0 0 30px;
  margin: 0; }

.education-side {
  width: 50%;
  padding: 0;
  margin: 0; }

.content-education {
  padding: 0 30px 30px 0; }

.content-education h3 {
  font-size: inherit;
  text-transform: uppercase;
  width: 10vw; }

.content-education h4 {
  font-size: 0.9vw;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #15b01f; }

.content-experience h4 {
  font-size: 0.9vw;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #15b01f; }

.content-education h5 {
  font-size: 0.75vw;
  padding: 0 0 30px 0;
  margin: 0; }

.content-experience h5 {
  font-size: 0.75vw;
  padding: 0 0 30px 0;
  margin: 0; }

.content-experience {
  padding: 0 0 0 0; }

.content-experience h3 {
  font-size: inherit;
  text-transform: uppercase;
  width: 10vw; }

.text-education {
  padding: 0;
  margin: 0;
  font-weight: lighter;
  font-size: 0.8vw;
  line-height: 2.5vh; }

.text-experience {
  padding: 0;
  margin: 0;
  font-weight: lighter;
  font-size: 0.8vw;
  line-height: 2.5vh; }

.list-info {
  margin: 0;
  padding: 0 0 0 15px; }

.list-info li {
  list-style: square; }

.head-content {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between; }

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/hiking.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "ubuntu", sans-serif; }

main {
  max-width: 1180px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

.wrapper-content {
  display: flex; }

/*# sourceMappingURL=style.css.map */
