.content {    
    width: 100%;
    height: 100%;
    background-color: #fff;    
    border-radius: 10px;
    margin: 0 0 0 10px;
    overflow-y: scroll;    
    scroll-behavior: smooth;
}
.content h1{    
    font-size: 1.5rem;
    font-weight: 900;
    padding-left: 15px;
}

.title-content{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 0 0 25px;
    flex-flow: row;
}

.parag-content {
    flex-flow: row;
    display: flex;
    justify-content: left;
}

.parag-resumen {
    width: 50%;    
    margin: 0;
    padding: 0;
}

.parag-resumen p{
    padding: 0 25px;
    font-family: "ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5rem;
    text-align: left;
}
.parag-info{
    width: 50%;    
    margin: 0;    
    padding: 16px 25px;
}

.parag-info li{
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5rem; 
    padding: 4px 0;   
}

.info-highlight{
    background-color: #15b01f;
    padding-right: 25%;
    padding-left: 10px;
    color: #fff;
}