.content {        
    background-color: #fff;    
    border-radius: 10px;
    margin: 0 0 0 10px;     
    scroll-behavior: smooth;
}
.content h1{    
    font-weight: 900;
    padding-left: 15px;
}

.title-content{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 0 0 25px;
    flex-flow: row;
}

.parag-content {    
    display: flex;
    justify-content: left;
}

.parag-resumen {      
    margin: 0;
    padding: 0;
}

.parag-resumen p{
    padding: 0 25px;
    font-family: "ubuntu", sans-serif;    
    font-weight: 100;
    line-height: 1.5rem;
    text-align: left;
}
.parag-info{
    margin: 0;    
    padding: 16px 25px;
}

.parag-info li{
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5rem; 
    padding: 4px 0; 
}

.info-highlight{
    background-color: #15b01f;
    padding: 0.3vh 3vw 0.3vh 1vw;    
    color: #fff;    
    font-weight: 400;
}