.f-Amatic-b {
    font-family: "AmaticSCBold", sans-serif;        
    text-transform: uppercase;
  }
.f-Amatic-n {
    font-family: "AmaticSCRegular", sans-serif;        
    text-transform: uppercase;
  }
  .f-ubuntu-n {
    font-family: "ubuntu", sans-serif;           
  }