
.fas, .far {
    font-size: 1.6em;
}


.fab {
    font-size: 1.3rem;
}


.fas:hover, .far:hover {
    font-size: 1.6em;
    color: #31840b;
}


.fab:hover {
    font-size: 1.3rem;
    color: #31840b;
}


