@media (min-width: 1281px) {    
  nav {
    max-width: 7%;
    width: 7%;
    height: 45vh;
  }
  .profile {    
    width: 30%;
    max-width: 30%;
    height: 100%;  
    margin: 0 0 0 10px;    
  }
  .wrapper-content {
    height: 90vh;
    width: 90vw;    
    max-width: 90vw;
    flex-flow: row;
  }
  .content { 
    width: 63%;   
    max-width: 63%;  
    height: 100%;
    overflow-y: scroll;   
  }
  .content h1{
    font-size: 2vw;
  }

  .parag-content{
    flex-flow: row;
  }
  .parag-resumen{
    width: 60%;
  }
  .parag-resumen p {
    font-size: 0.8vw;
  }
  .parag-info{
    width: 40%;
  }
  .info-highlight{
    font-size: 0.9vw;
  }
  .parag-info li{    
    font-size: 0.9vw;   
  }
  #nav-bar-1 {
    display: inherit;
  }
  #nav-bar-2 {
    display: none;
  }
  .download li{
    font-size: 0.9vw;
    min-width: 9vw;
  }
  .icons-profile a{
    font-size: 0.8vw;
  }
  .picture-content{
    left: 0;
    top: 0;
  }
  .menu-nav-2{
    display: flex;
    flex-flow: row;
    width: none;
  }
    
  .experience{
    padding: 0 45px 30px 0;
  }


  .experience h2{
    text-transform: uppercase;
    color: #15b01f;    
    font-size: 1.4vw;
  }
  .education{
    padding: 0 0 0 25px;
    
  }
  .education h2{
    text-transform: uppercase;
    color: #15b01f;
    font-size: 1.4vw;
  }

  .period{
    border: 1px solid #8AB98A;
    padding: 5px 0 5px 10px;
    font-size: 0.7vw;
    width: 5.5vw;
    border-radius: 6px;
    text-align: center;
  }
  .project-content p{  
    font-size: 0.8vw;    
  }
  .project-content{      
    padding: 0 30px 0 0;
  }
  .tags{     
    padding: 5px 30px 5px 30px;
    font-size: 0.8vw;        
  }


  #project-01{   
    background-size: 86%;
  }
  #project-02{    
    background-size: 86%;
  }
  #project-03{    
    background-size: 86%;
  }
  #article-01{    
    background-size: 86%;
  }

  .project-image{         
    background-position: center;    
  }
  .experience-wrapper{    
    flex-flow: row;
  }
  .experience-side{
    width: 50%;
    padding: 0 0 0 30px;
  }
  .education-side{
      width: 50%;
      padding: 0;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {  
  nav {
    width: none;
    height: none;
  }
  .profile {    
    width: 40vw;
    height: 100%;  
    margin: 0 0 0 0;    
  }
  .wrapper-content {
    height: 90vh;    
    flex-flow: row;    
  }
  .content h1{
    font-size: 2.5vw;
    width: 55vw;
  }

  .parag-content{
    flex-flow: column;
  }
  .parag-resumen{
    width: 100%;
  }
  .parag-resumen p {
    font-size: 1.1vw;
  }
  .info-highlight{
    font-size: 1.1vw;
  }  
  .parag-info li{    
    font-size: 1.1vw;   
  }
  #nav-bar-1 {
    display: none;
  }  
  .download li{
    font-size: 1.1vw;
    min-width: 11vw;
  }
  .icons-profile a{
    font-size: 1vw;
  }
  .picture-content{
    left: 0;
    top: 85px;
  }
  .menu-nav-2{
    display: flex;
    flex-flow: row;
    width: none;
  }
  .content {    
    width: 55vw;  
    height: 100%;
    overflow-y: scroll;   
  }  
  .experience{
    padding: 0 0 0 25px;
  }
  .experience h2{
    text-transform: uppercase;
    color: #15b01f;
    font-size: 1.1vw;
  }
  .education{
    padding: 0 0 0 0;
  }
  .education h2{
    text-transform: uppercase;
  }
  .project-content p{  
    font-size: 1.1vw;    
  }
  .project-content {     
    padding: 0 30px 0 0;
  }
  .tags{     
    padding: 5px 30px 5px 30px;
    font-size: 1.1vw;        
  }
  #project-01{   
    background-size: 165%;
  }
  #project-02{    
    background-size: 185%;
  }
  #project-03{    
    background-size: 110%;
  }
  #article-01{    
    background-size: 86%;
  }
  .project-image{         
    background-position-y: 0;    
    background-position-x: center;
  }
  .experience-wrapper{    
    flex-flow: column;
  }
  .experience-side{
    width: 100%;
    padding: 0 0 0 30px;
  }
  .education-side{
      width: 100%;
      padding: 0 0 0 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    width: none;
    height: none;
  }
  .profile {    
    width: 45vw;
    height: 100%;  
    margin: 0 0 0 10px;    
  }
  .wrapper-content {  
    height: 90vh;  
    flex-flow: row;    
  }

  .content h1{
    font-size: 2.5vw;
  }

  .parag-content{
    flex-flow: column;
  }
  .parag-resumen{
    width: 100%;
  }
  .parag-resumen p {
    font-size: 1.1vw;
  }
  .info-highlight{
    font-size: 1.1vw;
  }  
  .parag-info li{    
    font-size: 1.1vw;   
  }
  #nav-bar-1 {
    display: none;
  }  
  .download li{
    font-size: 1.1vw;
    min-width: 11vw;
  }
  .icons-profile a{
    font-size: 1vw;
  }
  .picture-content{
    left: 0;
    top: 85px;
  }
  .menu-nav-2{
    display: flex;
    flex-flow: row;
    width: none;
  }
  .content {    
    width: 55vw;  
    height: 100%;
    overflow-y: scroll;   
  }
}  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  nav {
    width: none;
    height: none;
  }
  .profile {    
    width: 45vw;
    height: 100%;  
    margin: 0 0 0 10px;    
  }
  .wrapper-content {    
    height: 90vh;
    flex-flow: row;    
  }  

  .content h1{
    font-size: 2.5vw;
  }

  .parag-content{
    flex-flow: column;
  }
  .parag-resumen{
    width: 100%;
  }
  .parag-resumen p {
    font-size: 1.1vw;
  }
  .info-highlight{
    font-size: 1.1vw;
  }  
  .parag-info li{    
    font-size: 1.1vw;   
  }
  #nav-bar-1 {
    display: none;
  }  
  .download li{
    font-size: 1.1vw;
    min-width: 11vw;
  }
  .icons-profile a{
    font-size: 1vw;
  }
  .picture-content{
    left: 0;
    top: 85px;
  }
  .menu-nav-2{
    display: flex;
    flex-flow: row;
    margin: 15px 15px 15px 0;
    width: none;
  }
  .content {    
    width: 55vw;  
    height: 100%;
    overflow-y: scroll;   
  }
}  
@media (min-width: 481px) and (max-width: 767px) {
  nav {
    width: none;
    height: none;
  }
  .profile {            
    margin: 0 0 0 10px;  
    width: 97vw;
    height: 100%;    
    margin: 1vh 0 0 1.5vw;    
    display: block;
    padding: 0 0 0 0;  
  }
  .wrapper-content {
    height: 100%;    
    flex-flow: column;    
  }
 

  .content h1{
    font-size: 2.5vw;
  }

  .parag-content{
    flex-flow: column;
  }
  .parag-resumen{
    width: 100%;
  }
  .parag-resumen p {
    font-size: 1.1vw;
  }
  .info-highlight{
    font-size: 1.1vw;
  }  
  .parag-info li{    
    font-size: 1.1vw;   
  }
  #nav-bar-1 {
    display: none;
  }  
  .download li{
    font-size: 1.1vw;
    min-width: 11vw;
  }
  .icons-profile a{
    font-size: 1vw;
  }
  .picture-content{
    left: 0;
    top: 85px;
  }
  .menu-nav-2{
    display: flex;
    flex-flow: row;    
    margin: 25px 0 25px 0;
    width: 100%;
  }  
  .content {    
    width: 100vw;  
    height: none;
    overflow-y: none;   
  }
}
@media (max-width: 480px) {
  nav {
    width: none;
    height: none;
  }
  .profile {            
    margin: 0 0 0 10px;  
    width: 97vw;
    height: 100%;    
    margin: 1vh 0 0 1.5vw;    
    display: block;
    padding: 0 0 0 0;  
  }
  .wrapper-content {
    height: 100%;    
    flex-flow: column;    
  }
  

  .content h1{
    font-size: 2.5vw;
  }

  .parag-content{
    flex-flow: column;
  }
  .parag-resumen{
    width: 100%;
  }
  .parag-resumen p {
    font-size: 1.1vw;
  }
  .info-highlight{
    font-size: 1.1vw;
  }  
  .parag-info li{    
    font-size: 1.1vw;   
  }
  #nav-bar-1 {
    display: none;
  }  
  .download li{
    font-size: 1.1vw;
    min-width: 11vw;
  }
  .icons-profile a{
    font-size: 1vw;
  }
  .picture-content{
    left: 0;
    top: 85px;
  }
  .menu-nav-2{
    display: flex;
    flex-flow: row;    
    margin: 25px 0 25px 0;
    width: 100%;
  }  
  .content {    
    width: 100vw;  
    height: none;
    overflow-y: none;   
  }
}