@media (min-width: 1281px) {    
    body {  
      background-repeat: no-repeat;  
    }
  
    nav {
      max-width: 7%;
      width: 7%;
      height: 45vh;
    }
    .profile {    
      width: 30%;
      max-width: 30%;
      height: 100%;  
      margin: 0 0 0 10px;
      position: relative;      
    }
    .wrapper-content {
      height: 90vh;
      width: 90vw;    
      max-width: 90vw;
      flex-flow: row;
    }
    .content { 
      width: 63%;   
      max-width: 63%;  
      height: 100%;
      overflow-y: scroll; 
      margin: 0 0 0 10px;   
    }
      
    .parag-content{
      flex-flow: row;
    }
    .parag-resumen{
      width: 60%;
    }
    .parag-resumen p {      
      line-height: 1.9rem;
    }
    .parag-info{
      width: 40%;
    }
    .info-highlight{      
      padding: 0.3vh 3vw 0.3vh 1vw;  
    }    
    #nav-bar-1 {
      display: inherit;
    }
    #nav-bar-2 {
      display: none;
    }
    .download {
      position: absolute;
      bottom: 10px;
      margin: 0;
      padding: 0 0 20px 0 ;
      justify-content: space-around;    
      flex-flow: row;    
    }
    .download li{      
      min-width: 9vw;
      margin: 0;
    }
    .icons-profile a{
      font-size: 0.8vw;
    }
  
    .menu-nav{
      display: flex;
      flex-flow: column;    
    }   
    .menu-nav-2{
      display: flex;
      flex-flow: row;
      width: none;
    }      
    .experience{
      padding: 0 45px 30px 0;
    }
    .content-education{
      padding: 0 30px 30px 0;
    }
    .content-experience{
      padding: 0 0 0 0;
    }
    .content-education h5{
      font-size: 0.75vw;         
    }    
    .content-experience h5{
      font-size: 0.75vw;        
    } 
    .content-experience h4{
      font-size: 0.9vw;  
    }
    .content-education h4{
      font-size: 0.9vw;  
    }
    .content-experience h3{
      font-size: 0.9vw;
      text-align: center;
      width: 10vw;
    }
    .content-education h3{
      font-size: 0.9vw;
      text-align: center;
      width: 10vw;
    }  
    .text-experience{    
      font-size: 0.8vw;  
    }
    .text-education{    
      font-size: 0.8vw;    
    }
    .education{
      padding: 0 0 0 25px;      
    }
    .experience h2{
      text-transform: uppercase;
      color: #15b01f;    
      font-size: 1.4vw;
    }
    .education h2{
      text-transform: uppercase;
      color: #15b01f;
      font-size: 1.4vw;
    }    
    
    .period{
      border: 1px solid #8AB98A;
      padding: 5px 0 5px 10px;
      font-size: 0.7vw;
      width: 5.5vw;
      border-radius: 6px;
      text-align: center;
    }    
    .list-info li{
      font-size: 0.8vw;    
    }
    .project-content{      
      padding: 0 30px 0 0;
    }
    .tags{     
      padding: 5px 30px 5px 30px;      
    }
    .project-wrapper{  
      max-width: 70vw;    
    }
    #project-01{   
      background-size: 86%;
    }
    #project-02{    
      background-size: 86%;
    }
    #project-03{    
      background-size: 86%;
    }
    #article-01{    
      background-size: 86%;
    }
  
    .project-image{         
      background-position: center;    
    }
    .experience-wrapper{    
      flex-flow: row;
    }
    .experience-side{
      width: 50%;
      padding: 0 0 0 30px;
    }
    .education-side{
        width: 50%;
        padding: 0;
    }
  
    .picture-content{
      height: 45vh;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;  
    }  
    .info{
      flex-flow: column;
      top:45vh;
      width: 100%;
      height: 45vh;
      position: absolute;    
    }
  
    .info h1{   
      margin: -110px 0 0 0 ;      
    }

    .picture-content:before{        
      left: -25%;
      bottom: -55%;
      width: 100%;
      height: 70%;
    }
    .picture-content:after{  
        left: 25%;
        bottom: -57%;
        width: 100%;
        height: 70%;      
    }
    .left-bar{
      padding: 0 0 0 0;
      margin: 0;
    }
    .contact-me h2{    
      font-size: 1.5vw;
      word-break: break-word;
    }
    #picture-1{
      display: inherit;
    }
    #picture-2{
      display: none;
    }
    .menu-nav li{    
      border-bottom: 1px solid #e6e6e6;    
    }
    
    .info h2{    
      padding: 20px 0 0 0;     
    } 
    .head-content{    
      flex-flow: row;
      align-items: flex-end;
      justify-content: space-between;
    }
    .project-wrapper{
      flex-flow: row;
      width: 100%;
      justify-content: center;
      align-content: center;
      margin: 0;
      padding: 0 0 100px 0;
    }

    .project-content{
      width: 60%;    
    }
    
    .link-demo{    
      top: 100%;    
      padding-top: 30px;
      left: 15px;
      flex-flow: row;
      width: 90%;
    }

    .demo-button{      
      padding: 5px 25px 25px 25px;      
      width: 5.5vw;
      margin: 0 0 0 5px;      
    }
  }