@media (min-width: 768px) and (max-width: 1024px) {
    body {  
      background-repeat: repeat;  
    }
    nav {
      width: none;
      height: none;
    }
    .profile {                
      width: 97vw;
      height: 50vh;    
      margin: 1vh 0 0 0;    
      display: flex;
      padding: 0 0 0 0;  
      position: initial;   
      flex-flow: row;    
      justify-content: space-between;
    }
    .picture-content{
      width: 30vw;
      height: 50vh;
      position: initial;  
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background-position-x: center;
      padding: 0 0 0 0;
      max-width: 33vw;
    }
    .wrapper-content {
      height: 100%;    
      flex-flow: column;    
    }
    .parag-content{
      flex-flow: column;
    }
    .parag-resumen{
      width: 100%;
    }
    .parag-resumen p {
      font-size: 1.5vw;
      line-height: 1.9rem;
    }
    .info-highlight{
      font-size: 1.5vw;
      padding: 0.3vh 3vw 0.3vh 1vw;  
    }  
    .parag-info li{    
      font-size: 1.5vw;   
    }
    .menu-nav{
      display: flex;
      flex-flow: row;    
      width: 100%;
    }  
    #nav-bar-1 {
      display: inherit;
    }
    #nav-bar-2 {
      display: none;
    }
    .download {
      position: initial;
      bottom: none;
      margin: 0;
      padding: 25px 0 25px 0 ;
      justify-content: center;    
    }
    .download li{
      font-size: 1.5vw;
      min-width: 11vw;
      padding: 15px 15px 0 15px;    
      margin: 0 15px 0 15px;
    }
    .icons-profile a{
      font-size: 1.5vw;
    }
    
    .menu-nav-2{
      display: flex;
      flex-flow: row;    
      margin: 25px 0 25px 0;
      width: 100%;
    }  
    .content {    
      width: 97vw;  
      height: none;
      overflow-y: none;  
      margin: 220px 0 0 0; 
    }
    .content h1{
      font-size: 3.5vw;
    }
    .left-bar{
      padding: 0 0 0 0;
      margin: 10px 0 0 0;
    }
    .info{
      flex-flow: column;
      top:none;
      width: 97vw;
      height: 75vh;
      position: initial;   
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding: 15px 0 0 0; 
    }
    .project-wrapper{  
      max-width: 85vw;    
    }
    .tags{     
      padding: 5px 30px 5px 30px;
      font-size: 1.5vw;        
    }
    .experience-wrapper{    
      flex-flow: column;
    }
    .experience-side{
      width: 90%;
      padding: 0 0 0 30px;
    }
    .education-side{
        width: 90%;
        padding: 0 0 0 30px;
    }
    .education h2{
      text-transform: uppercase;
      color: #15b01f;
      font-size: 2vw;
    }
    .experience h2{
      text-transform: uppercase;
      color: #15b01f;
      font-size: 2vw;
    }    
    .content-education{
      padding: 0 0 30px 0;
    }
    .content-experience{
      padding: 30px 0 0 0;
    }
    .content-education h5{
      font-size: 1.5vw;         
    }    
    .content-experience h5{
      font-size: 1.5vw;        
    }  
    .content-experience h4{
      font-size: 1.5vw;  
    }
    .content-education h4{
      font-size: 1.5vw;  
    }
    .content-experience h3{
      font-size: 1.5vw;
      text-align: right;
      width: 13vw;
    }
    .content-education h3{
      font-size: 1.5vw;
      text-align: right;
      width: 13vw;
    }
    .text-education{    
      font-size: 1.1vw;    
    }
    .text-experience{    
      font-size: 1.1vw;  
    }
    .contact-me h2{    
      font-size: 1.9vw;
      word-break: break-word;
    }
    #picture-1{
      display: none;
    }
    #picture-2{
      display: inherit;
    }
    .menu-nav-2 li{    
      border-bottom: none;    
    }
    .info h1{
      font-size: 2rem;
    }
    .info h2{    
      padding: 0 0 0 0;     
      font-size: 1.5rem;      
    }    
    .head-content{    
      flex-flow: row;
      align-items: flex-end;
      justify-content: space-between;
    }
    .project-wrapper{
      flex-flow: row;
      width: 100%;
      justify-content: center;
      align-content: center;
      margin: 0;
      padding: 0 0 100px 0;
    }
    .project-content{
      width: 60%;    
    } 
    .project-image{         
      background-position-y: 0;    
      background-position-x: center;
    }
    .link-demo{    
      top: 100%;    
      padding-top: 30px;
      left: 15px;
    }
    .title-content i{
      font-size: 2.5vw;
    }
    .demo-button{      
      padding: 10px 30px 25px 30px;
      font-size: 1.7vw;
      width: 5.5vw;
      margin: 0 0 0 5px;      
    }
    .project-content p{  
      font-size: 1.5vw;    
    }
    .list-info li{
      font-size: 1.5vw;    
    }    
  } 