nav{    
    width: 12vw;
    height: 45vh;
    background-color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
}

.left-bar{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.menu-nav{
    padding: 0; 
}

.menu-nav li{
    list-style: none;
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.menu-nav li:last-child{
    border-bottom: 0;
}

.icons-profile {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.icons-profile a{
    text-decoration: none;
    padding: 11px 0 0 0;
    display: flex;
    font-size: 0.9rem;
    color: #000;
}

.icons-profile a:hover{      
    font-weight: bolder;
    font-size: 1rem;
    font-family: "ubuntu", sans-serif;
    text-decoration: underline;
    color: #31840b;
}
